header[data-testid="stHeader"] {
    background-color: transparent !important;
    height: 0px !important;
}
.block-container {
    padding-top: 3rem !important;
    padding-bottom: 2rem !important;
}
